body {
    background-color: #121212;
    color: #ffffff;
    font-family:  'Helvetica Neue';
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #ffffff;
  }
  
  .dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 30px;
    margin-top: 20px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .chart-container {
    background-color: #454545;
    border-radius: 10px;
    padding: 20px;
  }
  
  canvas {
    width: 100%;
    height: auto;
  }
  